/* for _app.js file */

html, body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0 60px !important;
}

ul {
  list-style: none;
  margin: 0 !important;
}

/* default text colors */

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.7);
}

.blue-btn {
  background-color: rgba(69, 180, 220, 0.32) !important;
}

.primary-text {
  color: #45b4dc;
}

.primary-btn {
  background-color: #45B4DC !important;
}

/* navbar  */

.navbar {
  position: sticky;
  top: 10px;
  background-color: #fff;
}

.navbar-brand img {
  width: 70% !important;
  display: flex !important;
  justify-content: flex-start !important;
  left: -78px !important;
}

/* shop inside */

.shop-inside {
  margin: 50px 0;
}

.shop-inside h1 {
  font-weight: 600;
  line-height: 119.7%;
  margin-bottom: 24px;
}

.shop-inside h1 span {
  color: #45B4DC;
}

.shop-inside p {
  color: rgba(0, 0, 0, 0.9);
  margin: 16px 0 24px 0;
  font-size: 1.25rem;
}

/* how-is-it-work */

.how-is-it-work {
  background-color: #f8f9fa;
  margin-top: 50px;
  flex-direction: row !important;
}

.how-is-it-work h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 600;
  color: #363636;
}

.how-is-it-work p {
  color: #757575;
  font-size: 1rem;
  line-height: 144.9%;
}

.how-is-right .icon-btn, .look-like .icon-btn {
  padding: 36.8px;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 24px;
}

.how-is-right .column1 .icon-btn {
  background-color: rgba(241, 113, 171, 0.4);
  color: rgba(152, 34, 113, 0.9);
}

.how-is-right .column1 .icon-btn:hover {
  background-color: rgba(241, 113, 171, 0.4);
}

.how-is-right .icon-btn i {
  font-size: 1.8rem;
}

.how-is-right h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

.how-is-right .column1 h4 {
  color: rgba(152, 34, 113, 0.9);
}

.how-is-right p {
  color: #757575;
  line-height: 144.9%;
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 0.95rem;
}

.how-is-right p:first-child {
  color: #757575;
}

.how-is-right .column2 .icon-btn {
  background-color: #e4ffee;
  color: #449a63;
}

.how-is-right .column2 .icon-btn:hover {
  background-color: #e4ffee;
}

.how-is-right .column2 h4 {
  color: #449a63;
}

.how-is-right .column3 .icon-btn {
  background-color: #c3e7f4;
  color: #0b6889;
}

.how-is-right .column3 h4 {
  color: #0b6889;
}

/*how does look like telegram channel */

.look-like {
  padding-top: 96px;
}

.look-like .cool p {
  font-size: 0.8rem;
}

.look-like .cool h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
  margin-top: 1.2rem;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.look-like-text {
  margin-bottom: 2rem;
}

.look-like .look-like-text h1 {
  color: #363636;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.look-like-text p {
  color: #757575;
  line-height: 144.9%;
}

.look-like .icon-btn {
  background: rgba(69, 180, 220, 0.32);
  color: #0b6889;
  transition: 300ms;
  margin: 0;
}

.look-like .icon-btn:hover {
  background: rgba(69, 180, 220, 0.32);
}

.look-like .look-like-text .row .cool:hover .icon-btn {
  transform: translateY(-5px) !important;
}

.look-like .look-like-text .row .col .cool h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
  margin-top: 1.2rem;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.look-like .look-like-text .row .col p {
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  font-size: 0.8rem !important;
}

/* Pricing */

.pricing {
  background-color: #f8f9fa;
}

.pricing .price-text h1 {
  margin-bottom: 1.5rem;
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.pricing .container {
  padding: 0 150px;
}

.pricing .price-text p {
  color: #757575;
  font-size: 1rem;
  line-height: 144.9%;
}

.pricing .card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(226, 226, 226, 0.527);
  padding: 12px 15px;
  border: 0;
}

.pricing .card .row {
  display: flex;
  align-items: center;
}

.pricing .card .left-card ul li {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0;
}

.pricing .card .left-card ul li i {
  margin-right: 15px;
  color: rgba(42, 141, 38, 0.774);
}

.pricing .card .right-card {
  background-color: #0b6889;
  border-radius: 30px;
  height: 100%;
  text-align: center;
  padding: 50px 0;
}

.pricing .card .right-card h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.pricing .card .right-card h1 span {
  font-size: 1.1rem;
  font-weight: bold;
}

.pricing .card .right-card p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.pricing .card .right-card a {
  background-color: #fff;
  font-size: 1rem;
  color: #0b6889;
  border: 1px solid transparent;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pricing .card .right-card a:hover {
  background-color: #065a79;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
}

/* why choose us */

.why-choose-us {
  padding: 96px 0;
}

.why-choose-us .why-text h1 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.why-choose-us .why-text p {
  color: #757575;
  font-size: 1rem;
  line-height: 144.9%;
}

.why-choose-us .cards {
  margin-top: 48px;
}

.why-choose-us .cards .blue-btn {
  padding: 2.2rem;
  color: #0b6889;
}

.why-choose-us .cards h2 {
  margin-top: 1.2rem;
  font-size: 1.25em;
  margin-bottom: 0.8em;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.why-choose-us .cards p {
  color: #757575;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.why-choose-us .cards .box {
  padding: 1.75rem 0;
  border-radius: 0.9rem;
  box-shadow: 0 0.5px 13px rgba(233, 233, 233, 0.589);
  border: none;
}

.why-choose-us .cards .box:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  background-color: #45b4dc !important;
  box-shadow: 0 0.5px 13px #70d4f8c4;
}

.why-choose-us .cards .box:hover h2, .box:hover i {
  color: #fff;
}

.why-choose-us .cards .box:hover .blue-btn {
  background-color: #3da2c7 !important;
}

.why-choose-us .cards .box:hover p {
  color: #bbedff;
}

/* still-have-question */

.still-have-question {
  background-color: #F8F9FA;
  padding: 48px 0;
}

.still-have-question h4 {
  font-weight: 600;
  color: #2B2B2B;
  line-height: 119.7%;
  font-size: 1.25rem;
  margin: 0;
}

.still-have-question h4 a {
  text-decoration: none;
}

/* bottom nav */

.bottom-nav {
  background-color: #0B6889;
  color: #fff;
  padding: 48px 0;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom-nav ul li {
  margin-left: 10px;
}

.bottom-nav ul li button {
  background-color: #0B6889;
  color: #fff;
}

.bottom-nav ul li .MuiButton-outlined {
  border: 2px solid #fff;
}

.bottom-nav ul li a {
  text-decoration: none;
  color: #fff;
}

.bottom-nav ul li button:hover {
  background-color: #fff;
  color: #000;
}

/* footer */

footer {
  background-color: #233D48;
  color: rgba(255, 255, 255, .7);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.footer h3 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, .7);
  margin: 0;
}

.footer h3 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

/* for mobile device */

@media (max-width: 375px) {
  /* navbar */
  .navbar-brand {
    width: 60%;
    left: -10px !important;
    margin: 0 !important;
  }
  .navbar-brand img {
    margin: 0 !important;
    left: -11px !important;
  }
  /* shop inside */
  .shop-inside .row {
    flex-direction: column-reverse;
    text-align: center;
  }
  /* how is it work */
  .how-is-it-work .how-is-right .how-is-it-work-text {
    text-align: center;
  }
  /* pricing  */
  .pricing .container {
    padding: 0 5%;
  }
  /* why choose */
  .why-choose-us {
    padding-bottom: 20px;
  }
  .why-choose-us .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  /* still  have a question */
  .still-have-question h4 {
    line-height: 40px;
    text-align: center;
  }
  /* bottom nav */
  .bottom-nav ul {
    display: flex;
    line-height: 50px;
    justify-content: space-around;
    font-size: 13px;
    padding: 0;
  }
  .bottom-nav ul li {
    margin: 0;
    padding: 0;
  }
  .bottom-nav ul li a {
    font-size: 10px;
  }
}

@media(min-width:376px) and (max-width: 425px) {
  /* pricing  */
  .pricing .container {
    padding: 0 5%;
  }
  /* why choose */
  .why-choose-us .row {
    margin-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  /* still have question */
  .still-have-question h4 {
    /* font-size: 13px; */
    text-align: center;
    line-height: 45px;
  }
  /* bottom nav */
  .bottom-nav ul {
    display: flex;
    line-height: 50px;
    justify-content: space-around;
    font-size: 15px;
    padding: 0;
  }
  .bottom-nav ul li {
    margin: 0;
  }
  /* footer */
  footer .footer h3 {
    font-size: 15px;
  }
}

/* for tablet device */

@media (min-width: 426px) and (max-width: 768px) {
  /* shop inside */
  .shop-inside .row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .shop-inside {
    font-size: 2.5rem;
  }
  .shop-inside p {
    font-size: 1rem;
  }
  /* how is it work */
  .how-is-it-work .how-is-right .how-is-it-work-text {
    text-align: center;
  }
  /* pricing  */
  .pricing .container {
    padding: 0 5%;
  }
  /* why choose us */
  .why-choose-us .container {
    overflow-x: hidden;
  }
  .why-choose-us .row {
    margin-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .why-choose-us .row .col {
    width: 100%;
  }
  /* still have a question */
  .still-have-question .row .col-md-6:last-child {
    text-align: right;
  }
  /* bottom nav */
  .bottom-nav ul {
    display: block;
    line-height: 50px;
    float: right;
  }
  /* footer */
}

/* for labtop device */

@media (min-width: 769px) and (max-width: 1024px) {
  /* shop inside */
  .shop-inside .row .col {
    width: 50% !important;
  }
  .shop-inside h1 {
    font-size: 2.5rem;
  }
  .shop-inside p {
    font-size: 1rem;
  }
  /* still have aquestion */
  .still-have-question .row .col-lg-6:last-child {
    text-align: right;
  }
  /* bottom nav */
  .bottom-nav ul {
    display: flex;
  }
}