/* for _app.js file */

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Century Gothic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid{
  padding: 0 60px !important;
}
ul{
  list-style: none;
  margin: 0 !important;
}

/* default text colors */
h1, h2, h3, h4, h5, h6{
  color: rgba(0, 0, 0, 0.7);
}
.blue-btn{
  background-color: #45B4DC !important;
}

.primary-text{
  color: #45B4DC;
}
/* navbar  */

.navbar{
  /* position: sticky; */
  top: 0px;
  background-color: #fff;
}

.navbar-brand img {
  width: 70% !important;
  display: flex !important;
  justify-content: flex-start !important;
  left: -78px !important;
}

/* shop inside */
.shop-inside{
  margin: 50px 0;

}

.shop-inside h1{
  font-weight: 600;
  line-height: 119.7%;
  margin-bottom: 24px;
}

.shop-inside p{
  color: rgba(0, 0, 0, 0.9);
  margin: 16px 0 24px 0;
  font-size:1.25rem;
}

/* how-is-it-work */
.how-is-it-work{
  background-color: #F8F9FA;
  margin-top: 50px;
  flex-direction: row !important;
}

.how-is-it-work h1{
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height:1.125;
  font-weight: 600;
  color:#363636;
}

.how-is-it-work p{
    color: #757575;
    font-size: 1rem;
    line-height: 144.9%;
}

.how-is-right .icon-btn{
  padding: 36.8px;
  background-color: rgba(241, 113, 171, 0.4);
  color: rgba(152, 34, 113, 0.9);
  border-radius: 50%;
  width:1.8rem;
  height: 1.8rem;
  margin-right: 24px;
}

.how-is-right .column1 .icon-btn{
  background-color: rgba(241, 113, 171, 0.4);
  color: rgba(152, 34, 113, 0.9);
}

.how-is-right .column1 .icon-btn:hover{
  background-color: rgba(241, 113, 171, 0.4);
}

.how-is-right .icon-btn i{
  font-size: 1.8rem;
}

.how-is-right h4{
  font-size: 1.1rem;
  font-weight: bold;
}

.how-is-right .column1 h4{
  color:rgba(152, 34, 113, 0.9);
}

.how-is-right p{
  color: #757575;
  line-height: 144.9%;
  margin-top: .5em;
  font-weight: 400;
  font-size: .95rem;
}

.how-is-right p:first-child{
  color:#757575;
}

.how-is-right .column2 .icon-btn{
  background-color:#E4FFEE;
  color: #449A63;
}

.how-is-right .column2 .icon-btn:hover{
  background-color: #E4FFEE;
} 

.how-is-right .column2 h4{
  color:#449A63;
}

.how-is-right .column3 .icon-btn{
  background-color: #C3E7F4;
  color: #0B6889  ;
}

.how-is-right .column3 h4{
  color:#0B6889;
}


/* for mobile device */
@media(max-width:375px){
  /* navbar */
  .navbar-brand{
    width: 60%;
    left: -10px !important;
    margin: 0 !important;
  }

  .navbar-brand img{
    margin:0 !important;
    left: -11px !important;
  }

  /* shop inside */
   .shop-inside .row{
    flex-direction: column-reverse;
    text-align: center;
  }
}
/* for tablet device */
@media(min-width: 376px) and (max-width:768px){
  /* shop inside */
  .shop-inside .row{
    flex-direction: column-reverse;
    text-align: center;
  }

  .shop-inside{
    font-size: 2.5rem;
  }

  .shop-inside p{
    font-size: 1rem;
  }
}

/* for labtop device */
@media(min-width:769px) and (max-width:1024px){
  .shop-inside .row .col{
    width: 50% !important;
  }

  .shop-inside h1{
    font-size: 2.5rem;
  }

  .shop-inside p{
    font-size: 1rem;
  }
}